**Assignment 3**

**Name    : Dhivya R**   
**Roll No : 19BIT017**

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
list=s.split(" ")
print(list)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers"
      .format(planet,diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
word=lst[3][1][2]
print(word)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [6]:
#List:
  #List is Mutable
  #Consumes more memory
  #eg:list = ['dhivya',1]
#Tuple
  #Tuple is immutable
  #Consumes less memory
  #eg:tuple=('dhivya',1)

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [7]:
def domain(email):
    print(email.split('@')[-1])
domain('user@domain.com')

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [8]:
def findStringDog(str):
    string = str.lower()
    if 'dog' in string:
        print("True")
    else:
        print("False")
findStringDog('My dog name is jack')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [9]:
def countStringDog(str):
    count = 0
    for word in str.lower().split():
        if word == 'dog':
            count = count + 1
    print(count)

countStringDog('My dog is taller than my neighbour dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [10]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [12]:
caught_speeding(82,False)

'Big Ticket'

In [13]:
caught_speeding(82,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [14]:
employee = [['Dhivya',35000],['Sruthi',45000],['Shalini',80000],['Dhivsree',40000],['Varshini',38000]]
totalsalary=0
l=len(employee)
for name,salary in employee:
  totalsalary+=salary
avgsalary=totalsalary/l
print(avgsalary)
salaryexpenditure = avgsalary*l
print(salaryexpenditure)

47600.0
238000.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [15]:
def combine(dict1, dict2):
    for i in dict2.keys():
        dict1[i]=dict2[i]
    return dict1
dict1 = {'Empid': 101, 'Empname': 'Dhivya','Basicpay':35000}
dict2 = {'DeptName': 'Software developer', 'DeptId': 7}
finaldict = combine(dict1, dict2)
print(finaldict)

{'Empid': 101, 'Empname': 'Dhivya', 'Basicpay': 35000, 'DeptName': 'Software developer', 'DeptId': 7}